* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: white;
}

header{
    width: 100%;
    height: 30px;
    backdrop-filter: blur(16px);
    background: rgba(0, 0, 0, 0.28);
}

aside{
    width: 300px;
    height: 888px;
    background: rgba(0, 0, 0, 0.6);
}

#head-left{
    float: left;
    width: 120px;
    margin: 5px 0 0 16px;
    font-size: 12px;
}

#head-sider{
    width: 50px;
    float: right;
}

#head-sider embed{
    margin: 5px 0 0 16px;
}

#dock {
    width: auto;
    height: 50px;
    padding: 6px;
    position: fixed;
    left: 50%;
    bottom: 0;
    margin: 0 auto;
    backdrop-filter: blur(16px);
    transform: translate(-50%, 0);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: rgba(0, 0, 0, 0.5);
}

#dock li {
    float: left;
    cursor: pointer;
    margin: 2.8px 6px;
    transition: all 0.36s;
}

.lihover{
    margin: -3px 6px 0 6px !important;
}

#dock li:hover{
    margin: -18px 6px 0 6px;
}

#dock li img:hover{
    transition: all 0.1s;
}

#dock li:hover + li{
    margin: -3px 6px 0 6px;
}

#dock img{
    display: inline-block;
}

body {
    width: 100%;
    height: 980px;
    overflow-y: hidden;
    background: url(./img/bg.jpg) no-repeat;
    background-size:100% 100%; 
}