* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: white;
}

body {
    width: 100%;
    height: 1080px;
    overflow-x: hidden;
    overflow-y: hidden;
    background: url(./img/bg.jpg) no-repeat;
    background-size: 100% 100%;
}

header {
    width: 100%;
    height: 30px;
    backdrop-filter: blur(16px);
    background: rgba(0, 0, 0, 0.28);
}

aside {
    width: 360px;
    height: 1200px;
    position: absolute;
    right: 0;
    transform: translate3d(360px, 0px, 0px);
    backdrop-filter: blur(16px);
    background: rgba(0, 0, 0, 0.6);
    transition-timing-function: ease;
    transition-duration: 0.28s;
    -o-transition-duration: 0.28s;
    -moz-transition-duration: 0.28s;
    /* Safari 和 Chrome */
    -webkit-transition-duration: 0.28s;
}

.aside-show {
    transform: translate3d(0px, 0px, 0px);
}

.ubox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ubox p {
    margin: 0;
    transition: all 0.3s;
}

.ubox button {
    width: 80px;
    color: #0ab2ff;
    border-radius: 8px;
    line-height: 25px;
    opacity: 0;
    transition: all 0.18s;
    background: transparent;
}

#user-box {
    padding: 18px 0;
}

#menu {
    width: 150px;
    height: 0;
    overflow: hidden;
    /* box-shadow: 0 1px 1px #888, 1px 0 1px #ccc; */
    position: absolute;
}

.menu:nth-child(odd) {
    border-bottom: 1px solid white;
}

.menu {
    width: 150px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.8);
}

.menu embed{
    vertical-align: middle;
    margin: -3px 0 0 0;
}

.menu:hover {
    background-color: #00a1ff;
    ;
}

#user-box:hover button {
    opacity: 1;
}

#user-box:hover p {
    margin: 0 18px;
}

#tx {
    width: 66px;
    margin: 0 auto;
    border-radius: 66px;
    overflow: hidden;
}

#tx img {
    width: 66px;
    border-radius: 66px;
}

#today {
    width: 100%;
    line-height: 100px;
    text-align: center;
    color: #ccc;
    font-size: 30px;
}

#head-left {
    float: left;
    width: 120px;
    margin: 5px 0 0 16px;
    font-size: 12px;
}

#head-sider {
    width: 50px;
    float: right;
}

#head-sider embed {
    margin: 5px 0 0 16px;
}

#timer {
    float: right;
    line-height: 30px;
    font-size: 14px;
}

#user {
    float: right;
    line-height: 30px;
    font-size: 14px;
}

#dock {
    width: auto;
    height: 50px;
    padding: 6px;
    position: fixed;
    left: 50%;
    bottom: 0;
    margin: 0 auto;
    backdrop-filter: blur(16px);
    transform: translate(-50%, 0);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: rgba(0, 0, 0, 0.5);
}

#dock li {
    float: left;
    height: 80px;
    cursor: pointer;
    margin: 2.8px 6px;
    transition: all 0.36s;
}

.lihover {
    margin: -3px 6px 0 6px !important;
}

.clearho {
    margin: 2.8px 6px !important;
}

#dock li:hover {
    margin: -18px 6px 0 6px;
}

#dock li img:hover {
    transition: all 0.1s;
}

#dock li:hover+li {
    margin: -3px 6px 0 6px;
}