
div.select-main {
	background-color: #FFFFFF;
	border: 0px solid #FFF;
	font-size: 17px;
	font-family: '微软雅黑', 'Helvetica Neue', sans-serif, SimHei;
	height: 36px;
	position: relative;
	width: 110px;
	border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
	
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

div.select-main.z-index {
	z-index: 10;
}

div.select-main.disabled {
	cursor: default;
	filter: alpha(opacity=50);
	opacity: 0.5;
	zoom: 1;
}

div.select-main.disabled div.select-set {
	cursor: default;
}

div.select-main.disabled div.select-arrow {
	cursor: default;
}

div.select-set {
	background-color: #00a2ff;
	color: #333333;
	cursor: pointer;
	height: 36px;
	color: #fff;
	line-height: 36px;
	overflow: hidden;
	position: relative;
	padding: 0px 3px 0 20px;
	width: 108px;
	letter-spacing: 3px;
	z-index: 5;
	border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

div.select-arrow {
	border-top: 6px solid #FFF;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	cursor: pointer;
	position: absolute;
	top: 18px;
	right: -10px;
	z-index: 7;
}

div.select-arrow.reverse {
	border-top: 6px solid transparent;
	border-bottom: 6px solid #FFF;
	top: 10px;
}

div.select-block {
	background-color: #FFFFFF;
    border-left: 1px solid #2DB2FF;
    border-right: 1px solid #2DB2FF;
    border-bottom: 1px solid #2DB2FF;
    border-radius: 5px;
    box-shadow: 0 0 1px #2DB2FF;
	letter-spacing: 3px;
    left: 15px;
    line-height: 16px;
    position: absolute;
    top:25px;
    width: 88px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

ul.select-list {
	cursor: pointer;
	margin: 15px 0 1px;
}

li.select-items {
	color: #333333;
	padding: 7px 1px 7px 5px;
	border-bottom: 6px solid #fff;
}

li.select-items:hover,
li.select-items.active {
	background-color: #2DB2FF;
	color: #FFFFFF;
}